---
import FullNavigationLayout from "../../astro/layouts/FullNavigationLayout.astro";
import { base } from "astro:config/client";

const navigationTabsSnippet = `<nav class="navigation-tabs" data-navigation-tabs-autoselector>
  <a> List Templates</a>
  <a href="${base}website-components/navigation-tabs"> This Page </a>
  <a> List Jobs</a>
  <a> New Job</a>
</nav>`;
const navigationTabsSnippetSemantic = `<nav class="navigation-tabs">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Clients</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>`;

const navigationTabsInteractive = `<nav class="navigation-tabs">
  <ul>
    <li><a data-tabs-button-name="demo-1" data-tabs-group="demo">Home</a></li>
    <li><a data-tabs-button-name="demo-2" data-tabs-group="demo">About</a></li>
    <li><a data-tabs-button-name="demo-3" data-tabs-group="demo">Clients</a></li>
    <li><a data-tabs-button-name="demo-4" data-tabs-group="demo">Contact Us</a></li>
  </ul>
  <p>Choosen tab</p>
    <div data-tabs-name="demo-1" data-tabs-group="demo" data-tabs-default>Default</div>
    <div data-tabs-name="demo-2" data-tabs-group="demo">About</div>
    <div data-tabs-name="demo-3" data-tabs-group="demo">Clients</div>
    <div data-tabs-name="demo-4" data-tabs-group="demo">Contact Us</div>
</nav>`;
const primarySidebar = `<div class="stt-primary-sidebar" data-stt-element="sidebar">
  <div class="stt-primary-sidebar-top">
    <h2>Collapsible</h2>
    <button data-stt-action="dismiss" class="stt-button">
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px">
        <path
          d="m251.33-204.67-46.66-46.66L433.33-480 204.67-708.67l46.66-46.66L480-526.67l228.67-228.66 46.66 46.66L526.67-480l228.66 228.67-46.66 46.66L480-433.33 251.33-204.67Z">
        </path>
      </svg>
    </button>
  </div>
  <div>
    <hr />
    <p></p>
    <hr />
  </div>
  <div class="stt-primary-sidebar___upper-section">
    <div class="stt-primary-sidebar-header">
      <a class="stt-primary-sidebar__back-button" href="/hyperdossier/">← Back to Home</a>
      <button data-stt-action="dismiss" class="stt-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px">
          <path
            d="m251.33-204.67-46.66-46.66L433.33-480 204.67-708.67l46.66-46.66L480-526.67l228.67-228.66 46.66 46.66L526.67-480l228.66 228.67-46.66 46.66L480-433.33 251.33-204.67Z">
          </path>
        </svg>
      </button>
    </div>
    <div class="stt-primary-sidebar-tabs">
      <button class="stt-primary-sidebar-tabs__tab">test</button>
      <button class="stt-primary-sidebar-tabs__tab stt-primary-sidebar-tabs__tab--active">test2</button>
    </div>
    <div class="stt-primary-sidebar-top">
      <h2>Manage Infobjects:</h2>
    </div>
    <div class="stt-primary-sidebar__list-container">
    </div>
  </div>
</div>`;
---

<FullNavigationLayout>
  <main class="responsive-container stt-navigation-main-content">
    <h1>Navigation Tabs</h1>
    <p>This component comes in two variations:</p>
    <ul>
      <li>Multi-page tabs</li>
      <li>Single-page tabs</li>
    </ul>
    <p>
      In the first variant every tab should be separate page. In the second
      variant contains every tab's content on a single page
    </p>
    <p>
      Use the <code>navigation-tabs</code> class on any element to make it navigation
      tabs.
    </p>
    <h2>Multi-page tabs:</h2>
    <p>
      Add <code>data-navigation-tabs-autoselector</code> attribute to select currently
      choose tab.
    </p>

    <h2>Example usage:</h2>
    <pre data-copyable-snippet><code>{navigationTabsSnippet}</code></pre>

    <h2>Rendered snippet:</h2>
    <Fragment set:html={navigationTabsSnippet} />
    <p>Also more semantic version is supported</p>
    <pre
      data-copyable-snippet><code>{navigationTabsSnippetSemantic}</code></pre>

    <h2>Rendered snippet:</h2>
    <Fragment set:html={navigationTabsSnippetSemantic} />

    <h2>Single-page tabs:</h2>
    <p>
      Use the <code>data-tabs-group</code> and <code>data-tabs-name</code> and <code
        >data-tabs-button-name</code
      > to group and connect tab's content and buttons.
    </p>
    <pre data-copyable-snippet><code>{navigationTabsInteractive}</code></pre>

    <h2>Rendered snippet:</h2>
    <Fragment set:html={navigationTabsInteractive} />

    <h2>Rendered snippet:</h2>
    <Fragment set:html={navigationTabsSnippetSemantic} />
    <p>
      Use the <code>data-tabs-group</code> and <code>data-tabs-name</code> and <code
        >data-tabs-button-name</code
      > to group and connect tab's content and buttons.
    </p>
    <pre data-copyable-snippet><code>{primarySidebar}</code></pre>

    <h2>Rendered snippet:</h2>
    <iframe src={`${base}demo-internal/navigation-tabs-sidebar`}></iframe>
  </main>
</FullNavigationLayout>
