---
import LibraryStyleLayout from "../../astro/layouts/LibraryStyleLayout.astro";
import { base } from "astro:config/client";

const navigationTabsSnippet = `<nav class="navigation-tabs" data-navigation-tabs-autoselector>
  <a> List Templates</a>
  <a href="${base}website-components/navigation-tabs"> This Page </a>
  <a> List Jobs</a>
  <a> New Job</a>
</nav>`;
const navigationTabsSnippetSemantic = `<nav class="navigation-tabs">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Clients</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>`
---

<LibraryStyleLayout>
  <div class="responsive-container">
    <h1>Navigation Tabs</h1>
    
    <p>
      Use the <code>navigation-tabs</code> class on any element to make it navigation tabs.
    </p>
    <p>
      Add <code>data-navigation-tabs-autoselector</code> attribute to select currently choose tab.
    </p>
    
    <h2>Example usage:</h2>
    <pre data-copyable-snippet><code>{navigationTabsSnippet}</code></pre>
    
    <h2>Rendered snippet:</h2>
    <Fragment set:html={navigationTabsSnippet} />
    <p>Also more semantic version is supported</p>
    <pre data-copyable-snippet><code>{navigationTabsSnippetSemantic}</code></pre>
    
    <h2>Rendered snippet:</h2>
    <Fragment set:html={navigationTabsSnippetSemantic} />
  </div>
</LibraryStyleLayout>
