---
interface Props {}
import { base } from "astro:config/client";
---

<div class="stt-primary-sidebar-top">
  <h2>Menu</h2>
  <button data-stt-action="dismiss" class="stt-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="40px"
      viewBox="0 -960 960 960"
      width="40px"
    >
      <path
        d="m251.33-204.67-46.66-46.66L433.33-480 204.67-708.67l46.66-46.66L480-526.67l228.67-228.66 46.66 46.66L526.67-480l228.66 228.67-46.66 46.66L480-433.33 251.33-204.67Z"
      ></path>
    </svg>
  </button>
</div>

<div>
  <hr />
  <ul class="clickable-item-list">
    <li><a href="#">Quick start</a></li>
    <li><a href="#">Installation</a></li>
    <li>
      <details open>
        <summary><a>Content components</a></summary>
        <ul>
          <li><a href=`${base}website-components/button/`>Button</a></li>
          <li>
            <a href=`${base}website-components/card/`>Card</a>
          </li>
          <li>
            <a href=`${base}website-components/pill/`>Pill</a>
          </li>
          <li>
            <a href=`${base}website-components/breadcrumbs/`>Breadcrumbs</a>
          </li>
          <li>
            <a href=`${base}website-components/copyable-snippet/`
              >Copyable snippet</a
            >
          </li>
          <li>
            <a href=`${base}website-components/clickable-item-list/`
              >Clickable item list</a
            >
          </li>
          <li>
            <a href=`${base}website-components/tree-list-container/`
              >Tree list container</a
            >
          </li>
          <li>
            <a href=`${base}website-components/datalist-range-labels/`
              >Datalist range labels</a
            >
          </li>
        </ul>
      </details>
    </li>
    <li>
      <details open>
        <summary><a>Layout and Element Position</a></summary>
        <ul>
          <li>
            <a href=`${base}website-components/responsive-container/`
              >Responsive container</a
            >
          </li>
          <li><a href=`${base}website-components/group/`>Group</a></li>
          <li>
            <a href=`${base}website-components/inline-display/`
              >Inline display</a
            >
          </li>
          <li>
            <a href=`${base}website-components/floating-elements/`
              >Floating element</a
            >
          </li>
        </ul>
      </details>
    </li>
  </ul>
  <ul class="clickable-item-list">
    <details open>
      <summary><a>Navigation components</a></summary>
      <ul>
        <li>
          <a href=`${base}website-components/side-top-top-navigation/`
            >Side top top navigation</a
          >
        </li>
        <li>
          <a href=`${base}website-components/search-tool/`>Search Tool</a>
        </li>
      </ul>
    </details>
  </ul>
</div>
